
*{
    margin: 0;
    text-decoration: none;
}

body{
    background-color:#121212;
    width: 90%;
    margin: auto;
}
 /*Area de navegacao da pagina*/
#nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}

/*logo "relicario"*/
#logo{
    color: rgb(184, 11, 184) ;
    font-weight: 800;
    font-size: 30px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;   
}

ul{
    display: flex;
    gap: 2em;
    list-style-type: none;
    color: white;
}

li:hover{
    color:  rgb(184, 11, 184) ;
    font-weight: 900;
    cursor: pointer;
}

/*area de login*/
#login a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: rgb(184, 11, 184) ;

}

a:active{
    color:  rgb(184, 11, 184) ;
}

#login a:hover{
    color:  rgb(184, 11, 184) ;

}

/*Corpo do site*/
.corpo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    width: 50%;
    margin: auto;
    margin-top: 150px;
}

/*Area de cadastro*/
.div-cadastro{
    height: 300px;
}

h1{
    color:rgb(249, 178, 252);
    padding-bottom: 10px;
    font-size: 40px;
}

.div-inputs{
    color: white;
    display: flex;
    flex-direction: column;
}

.inputs{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#btnCadastrar{
    width: 100px;
    height: 30px;
    background-color:rgb(249, 178, 252);
    border-radius: 5px ;
    border: none;
    font-size:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800px;
    margin: auto;
    margin-top: 15px;
}

#btnCadastrar:hover{
    background-color: #A70E78;
    color: white;
    cursor: pointer;
}

p{
    align-self: flex-end;
    margin-top: 10px;
}

#cadastrar{
    text-decoration: none;
    color: #A70E78;
}

#cadastrar:active{
    text-decoration: none;
}

#cadastrar:hover{

    color: rgb(249, 178, 252);

}


@media only screen and (max-width:399px){

    #nav{
        flex-direction: column;
    }

    #logo{
        align-self: center;
    }

    ul{
        align-self: center;
        margin-right: 50px;
    }

    .corpo{
        justify-content: center;
        align-self: center;
    }

    img{
        height: 330px;
    }
    
    h1{
        font-size: 20px !important ;
    }
 }

@media only screen and (max-width:400px){

    #nav{
        flex-direction: column;
    }

    #logo{
        align-self: center;
    }

    ul{
        align-self: center;
        margin-right: 50px;
    }

    .corpo{
        justify-content: center;
        align-self: center;
    }

    img{
        height: 330px;
    }
    
    h1{
        font-size: 21px;
    }
 }

 
@media only screen and (max-width:600px){

    #nav{
        flex-direction: column;
    }

    #logo{
        align-self: center;
    }

    ul{
        align-self: center;
        margin-right: 50px;
    }

    .corpo{
        justify-content: center;
        align-self: center;
    }

    img{
        height: 330px;
    }
    
    h1{
        font-size: 21px;
    }
 }
