<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Relicário</title>
</head>
<body>

     <div class="corpo-login">   

            <img id="img-login" src="../img/icon.png" alt="">

            <div class="div-inputs-login">

                <div class="inlogin">
                    <label for="Usuariologin">Usuario:</label>
                    <input type="text">
                </div>
    
                <div class="inlogin">
                    <label for="senhalogin" >Senha:</label>
                    <input type="password">
                </div>
                <button class="btnlogin">Login</button>
                <p>Não é cadastrado?<a id="cadastrar-login" href="../index.html"> Cadastrar-se</a></p>
            </div>

     </div>

</body>
</html>