<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/principal.css">
    <title>Relicário</title>
</head>
<body id="body">
    
    <nav id="nav">

        <p id="logo">Relicário</p>

        <ul>
            <li><a href="../index.html">Home</a></li>
            <li>Contatos</li>
            <li>Ajuda</li>

        </ul>

    </nav>

    <div class="corpo">

        <h1 id="texto">CONECTADO! ESTA LIVRE PARA EXPLORAR O SITE.</h1>

    </div>

    <div class="conteudo"> <img class="imagem1" src="../img/van-gogh-cavalo-d.jpg" alt=""></div>

</body>
</html>